body {
font-family: Arial, sans-serif;
background: #0f172a;
color: white;
margin: 0;
padding: 0;
transition: 0.3s;
}

.container {
width: 90%;
max-width: 900px;
margin: auto;
padding: 20px;
}

.title {
text-align: center;
font-size: 2.5rem;
margin-top: 20px;
}

.subtitle {
text-align: center;
opacity: 0.8;
margin-bottom: 25px;
}

.search-box {
display: flex;
justify-content: center;
gap: 10px;
margin-bottom: 20px;
}

.search-box input {
padding: 12px;
width: 300px;
border: none;
border-radius: 8px;
outline: none;
}

.search-box button {
padding: 12px 20px;
border: none;
border-radius: 8px;
background: #2563eb;
color: white;
cursor: pointer;
transition: 0.3s;
}

.search-box button:hover {
transform: scale(1.05);
}

.loading {
display: none;
text-align: center;
font-size: 18px;
margin: 20px;
}

.card {
background: #1e293b;
border-radius: 15px;
padding: 25px;
text-align: center;
margin-top: 20px;
box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.card img {
width: 130px;
height: 130px;
border-radius: 50%;
margin-bottom: 15px;
}

.username {
color: #94a3b8;
}

.stats {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 15px;
margin-top: 20px;
}

.stat-box {
min-width: 130px;
padding: 15px;
border-radius: 10px;
}

.followers {
background: #2563eb;
}

.following {
background: #16a34a;
}

.repos {
background: #f59e0b;
}

.score {
background: #dc2626;
}

.languages {
margin-top: 20px;
}

.language-tag {
display: inline-block;
margin: 5px;
padding: 8px 12px;
border-radius: 20px;
background: #3b82f6;
}

.github-btn {
display: inline-block;
margin-top: 20px;
text-decoration: none;
padding: 12px 20px;
border-radius: 8px;
background: #22c55e;
color: white;
transition: 0.3s;
}

.github-btn:hover {
transform: scale(1.05);
}

.theme-btn {
position: fixed;
right: 20px;
top: 20px;
padding: 10px 15px;
border: none;
border-radius: 8px;
background: #2563eb;
color: white;
cursor: pointer;
}

.light-mode {
background: #f1f5f9;
color: black;
}

.light-mode .card {
background: white;
color: black;
}

.ai-analysis {
margin-top: 25px;
padding: 20px;
background: #334155;
border-radius: 12px;
text-align: left;
}

.ai-analysis h2 {
text-align: center;
}

.ai-section {
margin-top: 15px;
}

.ai-section ul {
padding-left: 20px;
}

.ai-section li {
margin-bottom: 8px;
}

.info-container {
position: relative;
display: inline-block;
}

.info-icon {
background: white;
color: black;
border-radius: 50%;
padding: 2px 6px;
font-size: 12px;
cursor: pointer;
margin-left: 5px;
}

.tooltip {
visibility: hidden;
width: 220px;
background: black;
color: white;
text-align: center;
padding: 8px;
border-radius: 6px;

position: absolute;
z-index: 1;
bottom: 130%;
left: 50%;
transform: translateX(-50%);

}

.info-container:hover .tooltip {
visibility: visible;
}

@media (max-width: 768px) {
.search-box {
    flex-direction: column;
    align-items: center;
}

.search-box input {
    width: 90%;
}

.stats {
    flex-direction: column;
}
.stat-box {
    width: 100%;
}
} 